.container {
}

.vis {
    top: 0;
    left: 0;
    overflow: hidden;
    position:relative;
}


.canvas {
    border: solid 1px #000;
}


.nav_bar {
    border-bottom: solid 1px #DDD;
    padding: 15px 0 0;
    margin: 0 10px;
    width: 100%;
}