// Import font form google
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

// Import Bootstrap
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

/* SVG responsive */

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}


/* Search cirlce */

.search {
    fill : #55568C;
}

.title{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    text-transform: uppercase;
    font-size:18px;
}

.miniTitle{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    text-transform: uppercase;
    font-size:13px;
    text-align: left;
}

.legendText{
    text-align: left;
    font-size: 11px;
    /* margin-bottom: 10px; */
    line-height: 1.5;
}

/* Gene Tooltip */

.tip {
    text-align: center;
    border-right: solid 1px #DDD;
}

.tip .process{
    margin-top: 5px;
    margin-bottom: 8px;
}

.tip .function {
    color: #666;
    text-align: center;
    font-style: italic;
    margin-bottom: 8px;
    font-size: 12px;
}


/* Node Labels */
/*
 * h3 node labels
 */
.node {
    font-weight: 500;
    color: #2c3e50;
    position: absolute;
    width: 8em;
    margin-left: -4em;
    text-align: center;
    opacity: 1;
    cursor:pointer;
}

.node.theme {
    font-weight: 700;
    text-transform: uppercase;
}

.vis {
    top: 0;
    left: 0;
    overflow: hidden;
    position:relative;
}


.canvas {
    height: 100%;
    overflow: hidden;
}


.nav_bar {
    border-bottom: solid 1px #DDD;
    padding: 15px 0 0;
    margin: 0 10px;
}

.legend {
    padding: 1.5em 0 0 1.5em;
    font-size: 12px;
}

