// Import font form google
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

// Import Bootstrap
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

/* Search cirlce */

.search {
    fill : #55568C;
}

/* Node Label Container */
.node-label-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: visible;
}

/* Node Labels */
/*
 * h3 node labels
 */
.node {
    font-weight: 500;
    color: #2c3e50;
    position: absolute;
    width: 8em;
    margin-left: -4em;
    text-align: center;
    opacity: 1;
    cursor:pointer;
}

.node.hidden {
    opacity: 0;
}

.node.theme {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    text-transform: uppercase;
}

.node.theme.community-action {
    margin-top: 7.2em;
}

.node.theme.expanded {
    color: rgba(95, 96, 98, 0.15000000000000002);
    margin-top: 1em;
}

//Center vertically
.icon {
    margin-left: -20px;
}

.vis {
    top: 0;
    left: 0;
    overflow: hidden;
    position:relative;
}


.canvas {
    height: 100%;
    overflow: hidden;
}


.nav_bar {
    border-bottom: solid 1px #DDD;
    padding: 15px 0 0;
    margin: 0 10px;
}

.legend {
    padding: 1.5em 0 0 1.5em;
    font-size: 12px;
}

li.key {
    border-top-width: 5px;
    border-top-style: solid;
    font-size: .75em;
    width: 35px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

li.key:first-letter {
    text-transform:capitalize;
}

.scale_circle {
  stroke-width: 1;
  fill: none;
  stroke: #5f6062;
}

.size_circle {
    @extend .scale_circle;
    stroke-dasharray: 2 2;
}

.border_circle {
    @extend .scale_circle;
    stroke-width: 1.2;
}

.scale_line {
    stroke: #5f6062;
    stroke-width:1;
    shape-rendering: crispEdges;
}

.scale_text {
    font-size: .75em;
    text-align: center;
    alignment-baseline: middle;
}

.axis path, .axis line {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
        
.axis text {
    font-family: 'Arial';
    font-size: 13px;
}

.tick {
    stroke-dasharray: 1, 2;
}

//Tooltips

.d3-tip {
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
  border-radius: 3px;
  background: rgba(255,255,255,0.9);
  color: #000;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  border: 1px solid rgba(200,200,200,0.85);
  text-align: center;
  pointer-events: none;
  width: 300px;
  z-index: 40;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(255,255,255,0.9);
  position: absolute;
  pointer-events: none;
}

.tip-rule {
    height: 1px;
    margin: 1px auto 3px;
    background: #ddd;
    width: 130px;
}
.tip-name{
    font-family: 'Montserrat', 'sans-serif';
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 2px;
    text-align: center;
}

.tip-process{
    margin-top: 5px;
    margin-bottom: 8px;
}

.tip-function{
    color: #666;
    font-size: 11px;
    text-align: center;
    font-style: italic;
    margin-bottom: 8px;
}

.tip-up{
    color:#3690c0;
}

.tip-none{
    color:#A7BB8F;
}

.tip-down{
    text-align:left;
    color:#C72D0A;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}