<div class="node theme" style="vertical-align: middle;display: inline-block;">
    <span class="glyphicon glyphicon-plus-sign" style="position: absolute;margin-left:-65%;opacity:0;"></span>
    <div>{{process}}</div>
</div>