<div class="form-group btn-group" data-toggle="buttons">
    <label class="btn btn-default active" data-toggle="tooltip" data-placement="bottom">
        <input type="radio" name="vis_setting" value="all" autocomplete="off" checked=""> All Gene Expression
    </label>
    <label class="btn btn-default" data-toggle="tooltip" data-placement="bottom">
        <input type="radio" name="vis_setting" value="process" autocomplete="off"> Gene Expression by Process
    </label>
</div>