<!-- Page Content -->
<div class="container">

    <div id="navbar" class="nav_bar"></div>
        
    <div class="legend">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-6"><strong>Color</strong> shows gene regulation</div>
                <div id="color_scale" class="col-md-6"></div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7"><strong>Dark Borders</strong> show mutations</div>
                <div id="border_scale" class="col-md-5"></div>
            </div>
            <div class="col-md-4">
                <div class="col-md-6"><strong>Size</strong> shows Log2 fold change</div>
                <div id="size_scale" class="col-md-6"></div>
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col-md-12">
            <div id="vis" class="vis"></div>
        </div>        
    </div>
    
</div>