<!-- Page Content -->
<div class="container">

    <div id="navbar" class="nav_bar"></div>
    
    
    <div class="row">
        <div class="col-md-12">
            <div id="vis" class="vis"></div>
        </div> 
    </div>
    
</div>

