<div class="row">
    
    <div class="col-md-3">
        <div class="col-md-6"><strong>Color</strong> shows gene regulation</div>
        <div id="color_scale" class="col-md-6"></div>
    </div>
    
    <div class="col-md-3">
        <div class="col-md-7"><strong>Dark Borders</strong> show mutations</div>
        <div id="border_scale" class="col-md-5"></div>
    </div>
    
    <div class="col-md-3">
        <div class="col-md-7"><strong>Size</strong> shows Log2 fold change</div>
        <div id="size_scale" class="col-md-5"></div>
    </div>
    
    <ul class="nav nav-pills pull-right">
        <li role="presentation"><input type="text" class="form-control" placeholder="Search gene by name..."></li>
    </ul>
</div>
